/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto+Slab:400,700&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
      ========================================================================== */
/**
    * Remove the margin in all browsers.
    */
body {
  margin: 0;
}

/**
    * Render the `main` element consistently in IE.
    */
main {
  display: block;
}

/**
    * Correct the font size and margin on `h1` elements within `section` and
    * `article` contexts in Chrome, Firefox, and Safari.
    */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
      ========================================================================== */
/**
    * 1. Add the correct box sizing in Firefox.
    * 2. Show the overflow in Edge and IE.
    */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
      ========================================================================== */
/**
    * Remove the gray background on active links in IE 10.
    */
a {
  background-color: transparent;
}

/**
    * 1. Remove the bottom border in Chrome 57-
    * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
    */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
    * Add the correct font weight in Chrome, Edge, and Safari.
    */
b,
strong {
  font-weight: bolder;
}

/**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
    * Add the correct font size in all browsers.
    */
small {
  font-size: 80%;
}

/**
    * Prevent `sub` and `sup` elements from affecting the line height in
    * all browsers.
    */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
      ========================================================================== */
/**
    * Remove the border on images inside links in IE 10.
    */
img {
  border-style: none;
}

/* Forms
      ========================================================================== */
/**
    * 1. Change the font styles in all browsers.
    * 2. Remove the margin in Firefox and Safari.
    */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
    * Show the overflow in IE.
    * 1. Show the overflow in Edge.
    */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
    * Remove the inheritance of text transform in Edge, Firefox, and IE.
    * 1. Remove the inheritance of text transform in Firefox.
    */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
    * Correct the inability to style clickable types in iOS and Safari.
    */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
    * Remove the inner border and padding in Firefox.
    */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
    * Restore the focus styles unset by the previous rule.
    */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
    * Correct the padding in Firefox.
    */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
    * 1. Correct the text wrapping in Edge and IE.
    * 2. Correct the color inheritance from `fieldset` elements in IE.
    * 3. Remove the padding so developers are not caught out when they zero out
    *    `fieldset` elements in all browsers.
    */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
    * Add the correct vertical alignment in Chrome, Firefox, and Opera.
    */
progress {
  vertical-align: baseline;
}

/**
    * Remove the default vertical scrollbar in IE 10+.
    */
textarea {
  overflow: auto;
}

/**
    * 1. Add the correct box sizing in IE 10.
    * 2. Remove the padding in IE 10.
    */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
    * Correct the cursor style of increment and decrement buttons in Chrome.
    */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
    * 1. Correct the odd appearance in Chrome and Safari.
    * 2. Correct the outline style in Safari.
    */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
    * Remove the inner padding in Chrome and Safari on macOS.
    */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
    * 1. Correct the inability to style clickable types in iOS and Safari.
    * 2. Change font properties to `inherit` in Safari.
    */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
      ========================================================================== */
/*
    * Add the correct display in Edge, IE 10+, and Firefox.
    */
details {
  display: block;
}

/*
    * Add the correct display in all browsers.
    */
summary {
  display: list-item;
}

/* Misc
      ========================================================================== */
/**
    * Add the correct display in IE 10+.
    */
template {
  display: none;
}

/**
    * Add the correct display in IE 10.
    */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --orange: #FFCC65;
  --blue: #9EDAD3;
  --body-font: 'Roboto Condensed', sans-serif;
  --titles-font: 'Roboto Slab', serif;
  --space-m: 16px;
  --space-xxs: calc(var(--space-m) / 8);
  --space-xs: calc(var(--space-m) / 4);
  --space-s: calc(var(--space-m) / 2);
  --space-l: calc(var(--space-m) * 2);
  --space-xl: calc(var(--space-m) * 4);
  --space-xxl: calc(var(--space-m) * 8);
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
}

img {
  max-width: 100%;
}

a {
  color: var(--orange);
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: var(--space-s) var(--space-m);
  border-radius: 5px;
  border: 2px solid var(--white);
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: var(--space-m) var(--space-l);
  background-color: var(--white);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: var(--space-s);
}

.shop__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  margin: 0 var(--space-s);
}

.shop__button:hover .shop__icon {
  color: var(--black);
}

.shop__button:hover .shop__text {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.shop__icon {
  margin-bottom: var(--space-xs);
  color: var(--orange);
  font-size: 30px;
  -webkit-transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.shop__text {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  color: var(--black);
  font-size: 14px;
  -webkit-transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.footer {
  text-align: center;
  padding: var(--space-xl);
}

.slider {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.grid-gallery1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  grid-auto-rows: 230px 230px 230px;
  margin-top: 0px;
  margin-left: 200px;
}

.grid-gallery4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  grid-auto-rows: 100px 100px 100px;
  margin-top: 80px;
  margin-left: 220px;
}

.grid-gallery2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 600px;
      grid-template-columns: 300px 600px;
  grid-auto-rows: 230px 230px 230px;
  margin-left: 200px;
}

.grid-gallery3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 300px;
      grid-template-columns: 600px 300px;
  grid-auto-rows: 230px 230px 230px;
  margin-left: 200px;
}

.products {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  height: 100%;
}

.banner {
  position: relative;
  height: auto;
  min-height: 200px;
  max-height: 300px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, bottom center, );
  background-image: linear-gradient(to bottom center);
}

.load {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */