.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--space-m) var(--space-l);
    background-color: var(--white);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--space-s);
    &__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70px;
        margin: 0 var(--space-s);
        &:hover {
            .shop__icon {
               
                color: var(--black);
            }
            .shop__text {
                opacity: 1;
                transform: none;
            }
        }
    }
    &__icon {
        margin-bottom: var(--space-xs);
        color: var(--orange);
        font-size: 30px;
        transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    &__text {
        opacity: 0;
        transform: translateY(20px);
        color: var(--black);
        font-size: 14px;
        transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}
