// TODO: Desarrollar el CSS para los productos

//Estos son los grid el primero corresponde con las 3 primeras imagenes

.grid-gallery1 {
    display: grid;
    grid-template-columns: 300px 300px 300px; // 3 columnas
    grid-auto-rows: 230px 230px 230px;        // Anchura de cada fila
    margin-top: 0px;                          
    margin-left: 200px;
}

//Este corresponde al del banner y la foto por ello solo 2 columnas
.grid-gallery2{
    display: grid;
    grid-template-columns: 300px 600px;     //2 columnas
    grid-auto-rows: 230px 230px 230px;
    margin-left: 200px;
}

//Este corresponde al del banner y la foto por ello solo 2 columnas, pero cambia la colocación del banner
.grid-gallery3{
    display: grid;
    grid-template-columns: 600px 300px; // 2 columnas pero en este caso más grande la izquierda
    grid-auto-rows: 230px 230px 230px;
    margin-left: 200px;
}


//Grid correspondiente con el texto y el botón de compra y precio
.grid-gallery4 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: 100px 100px 100px;
    margin-top: 80px;
    margin-left: 220px;
}

//Características de los productos con la colocacción de las imagenes de las vans
.products {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;

}

//Caracteristicas con el banner
.banner{
	position: relative;
	height: auto;
	min-height: 200px;
	max-height: 300px;
	overflow: hidden;
	background-image: linear-gradient(to bottom center);

}

.load {
    text-align: center;
}
